
        
    
        body{
            text-align:center;
            background-color: rgb(35, 158, 241);
            font-style:italic;
        }
       
        a.hover{
            text-decoration: none;
            color: aquamarine;

        }
        a.visited{
            color: blue;
        }
        a.link{
            color: brown;
        }